*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,10,0.4), rgba(0,0,20,0.5)), url(image-asset.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.formBox{
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 12px;
}
.formBox h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: #0a60d0;
    position: relative;
}
.formBox h1::after{
    content: "";
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #0a60d0;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%);
}
.inputField{
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
}
input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}
.inputField i{
    margin-left: 15px;
    color: #49719e;
}
form p{
    text-align: left;
    font-size: 13px;
}
form p a{
    text-decoration: none;
    color: #0a60d0;
}
.btnField{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.btnField button{
    flex-basis: 48%;
    background: #0a60d0;
    color: white;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
    margin-top: 20px;
}
.btnField button.disable{
    background: #49719e;
    color: white;
}